.notes-container:hover {
    background-color: #667292;
    color: white;
}

.notes-container {
  text-align: center;
  padding: auto;
}

.submit{
  border-radius: 12px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.submit:hover{
  background-color: #8d9db6;
  color: white;
}

#title{
  font-size: 18px;
  font-family: 'Quattrocento', serif;
}

#body{
  font-size: 20px;
  font-family: 'Pontano Sans', sans-serif;
}

#delete-button{
  border-radius: 12px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#delete-button:hover{
  background-color: #8d9db6;
  color: white;
}

#first-column{
  padding: 10px;
}

#second-column{
  padding: 10px;

}

#third-column{
  padding: 10px;
}


.button {
  border-radius: 100%;
  font-size: 18px;
  padding: 10px 10px;
  background-color: #8d9db6
  color: white;
}

.button:hover {
    background-color: #8d9db6;
    color: white;
}

p{
  font-size: 30;
  font-family: 'Oswald', sans-serif;
}

.wrapper{
  display: grid;
  grid-template-columns: 4% 26% auto;
  grid-auto-rows: minmax(200px, auto)

}
